[Desktop Entry]
Name=Kirigami Gallery
Name[ca]=Galeria del Kirigami
Name[ca@valencia]=Galeria de Kirigami
Name[cs]=Galerie Kirigami
Name[da]=Kirigami Gallery
Name[de]=Kirigami-Galerie
Name[el]=Kirigami Gallery
Name[en_GB]=Kirigami Gallery
Name[eo]=Kirigami-Galerio
Name[es]=Galería de Kirigami
Name[et]=Kirigami galerii
Name[eu]=Kirigami galeria
Name[fi]=Kirigami Gallery
Name[fr]=Galerie Kirigami
Name[gl]=Galería de Kirigami
Name[he]=גלריית Kirigami
Name[ia]=Galeria de Kirigami
Name[it]=Galleria di Kirigami
Name[ka]=Kirigami -ის გალერეა
Name[ko]=Kirigami 갤러리
Name[lv]=Kirigami Gallery
Name[nl]=Kirigami galerij
Name[nn]=Kirigami-galleri
Name[pa]=ਕੀਰੀਗਾਮੀ ਗੈਲਰੀ
Name[pl]=Galeria Kirigami
Name[pt]=Galeria do Kirigami
Name[pt_BR]=Galeria do Kirigami
Name[ro]=Galerie Kirigami
Name[ru]=Галерея Kirigami
Name[sa]=किरिगामी गैलरी
Name[sk]=Galéria Kirigami
Name[sl]=Kirigami Gallery
Name[sv]=Kirigami-galleri
Name[tr]=Kirigami Galeri
Name[uk]=Галерея Kirigami
Name[x-test]=xxKirigami Galleryxx
Name[zh_CN]=Kirigami 示例展厅
Name[zh_TW]=Kirigami 畫廊
GenericName=Widget Browser for Kirigami
GenericName[ca]=Explorador de ginys per al Kirigami
GenericName[ca@valencia]=Explorador de ginys per a Kirigami
GenericName[cs]=Prohlížeč widgetu pro Kirigami
GenericName[da]=Widget-browser til Kirigami
GenericName[de]=Browser für Kirigami-Bedienelemente
GenericName[el]=Περιηγητής γραφικών συστατικών για το Kirigami
GenericName[en_GB]=Widget Browser for Kirigami
GenericName[eo]=Fenestraĵa Foliumilo por Kirigami
GenericName[es]=Explorador de elementos gráficos para Kirigami
GenericName[et]=Kirigami vidinasirvija
GenericName[eu]=Kirigami-rako trepeta arakatzailea
GenericName[fi]=Kirigamin sovelmaselain
GenericName[fr]=Navigateur de composants graphiques pour Kirigami
GenericName[gl]=Navegador de trebellos para Kirigami
GenericName[he]=דפדפנים וידג׳טים של Kirigami
GenericName[ia]=Navigator de widget per Kirigami
GenericName[it]=Oggetto di navigazione per Kirigami
GenericName[ka]=ვიჯეტების ბრაუზერი Kirigami-სთვის
GenericName[ko]=Kirigami 위젯 탐색기
GenericName[lv]=„Kirigami“ logdaļu pārlūks
GenericName[nl]=Widget-browser voor Kirigami
GenericName[nn]=Skjermelementvisar for Kirigami
GenericName[pa]=ਕੀਰੀਗਾਮੀ ਲਈ ਵਿਜੈੱਟ ਬਰਾਊਜ਼ਰ
GenericName[pl]=Przeglądarka elementów interfejsu dla Kirigami
GenericName[pt]=Navegador de Elementos do Kirigami
GenericName[pt_BR]=Widget navegador para o Kirigami
GenericName[ro]=Navigator de controale grafice pentru Kirigami
GenericName[ru]=Браузер виджетов для Kirigami
GenericName[sa]=किरिगामी कृते विजेट् ब्राउजर्
GenericName[sk]=Prehliadač widgetov pre Kirigami
GenericName[sl]=Gradnik brskalnika za Kirigami
GenericName[sv]=Grafisk komponentbläddrare för Kirigami
GenericName[tr]=Kirigami için Araç Takımı Tarayıcısı
GenericName[uk]=Браузер віджетів для Kirigami
GenericName[x-test]=xxWidget Browser for Kirigamixx
GenericName[zh_CN]=Kirigami UI 框架窗口部件示例展厅
GenericName[zh_TW]=Kirigami 的元件瀏覽器
Comment=Shows examples of Kirigami components and allows you to play with them
Comment[ca]=Mostra exemples de components del Kirigami i permet jugar-hi
Comment[ca@valencia]=Mostra exemples de components de Kirigami i permet jugar-hi
Comment[da]=Viser eksempler på Kirigami-komponenter og lader dig lege  med dem
Comment[de]=Zeigt Beispiele von Kirigami-Komponenten und ermöglicht es, sie auszuprobieren
Comment[el]=Εμφανίζει  παραδείγματα στοιχείων του Kirigami και σας επιτρέπει να παίξετε μαζί τους
Comment[en_GB]=Shows examples of Kirigami components and allows you to play with them
Comment[eo]=Montras ekzemplojn de Kirigami-komponantoj kaj permesas vin ludi kun ili
Comment[es]=Muestra ejemplos de componentes de Kirigami y le permite jugar con ellos
Comment[et]=Kirigami komponentide näidiste näitaja, mis lubab ka nendega pisut mängida
Comment[eu]=Kirigami osagaien adibideak erakusten ditu eta haiekin jolasten uzten dizu
Comment[fi]=Näyttää esimerkkejä Kirigami-alkioista ja miten niitä käytetään
Comment[fr]=Affiche des exemples des composants Kirigami et permet de jouer avec eux
Comment[gl]=Amosa exemplos de compoñentes de Kirigami e permítelle fedellar con eles.
Comment[he]=הצגת דוגמאות של רכיבי Kirigami כדי לאפשר לך לשחק איתם
Comment[ia]=Monstra exemplos de componentes de Kirigami e te permitte jocar con illos
Comment[it]=Mostra esempi di componenti Kirigami e ti permette di giocare con essi
Comment[ka]=გაჩვენებთ Kirigami-ის კომპონენტების მაგალითებს და საშუალებას გაძლევთ, ითამაშოთ მათით
Comment[ko]=Kirigami 구성 요소를 표시하고 테스트하기
Comment[lv]=Parāda „Kirigami“ komponenšu piemērus un ļauj tos izmēģināt
Comment[nl]=Toont voorbeelden van Kirigami componenten en laat u met ze spelen
Comment[nn]=Viser eksempel på Kirigami-komponentar og lèt deg leika med dei
Comment[pa]=ਕੀਰੀਗਾਮੀ ਭਾਗਾਂ ਦੀਆਂ ਮਿਸਾਲਾਂ ਵੇਖਾਉਂਦਾ ਹੈ ਅਤੇ ਤੁਹਾਨੂੰ ਉਹ ਅਜਮਾਉਣ ਦਿੰਦਾ ਹੈ
Comment[pl]=Pokazuje przykłady składników Kirigami i umożliwia zabawę nimi
Comment[pt]=Mostra exemplos dos componentes do Kirigami e permite-lhe jogar com eles
Comment[pt_BR]=Mostra exemplos dos componentes do Kirigami e permite-lhe jogar com eles
Comment[ro]=Arată exemple de componente Kirigami și vă permite să interacționați cu ele
Comment[ru]=Просмотр примеров компонентов Kirigami
Comment[sa]=किरिगामी घटकानां उदाहरणानि दर्शयति, तेषां सह क्रीडितुं च शक्नोति
Comment[sk]=Zobrazí príklady Kirigami komponentov a umožní vám hrať sa s nimi
Comment[sl]=Prikazuje primere komponent Kirigami in dovoljuje igro z njimi
Comment[sv]=Visar exempel på komponenter i Kirigami och låter dig leka med dem
Comment[tr]=Kirigami bileşenlerinden örnekler gösterir ve onlarla oynamanıza izin verir
Comment[uk]=Показує приклади компонентів Kirigami і надає вам змогу попрацювати з ними
Comment[x-test]=xxShows examples of Kirigami components and allows you to play with themxx
Comment[zh_CN]=展示 Kirigami UI 框架提供的各种组件，还能直接操作界面以测试效果
Comment[zh_TW]=顯示 Kirigami 元件的範例檔案，且允許您使用這些檔案

Type=Application
Exec=kirigami2gallery
Icon=preferences-desktop-theme
Categories=Qt;KDE;Development;
Keywords=Kirigami;Framework;KDE;Gallery;Widgets;Widgets Gallery;
Keywords[ca]=Kirigami;Framework;KDE;Galeria;Ginys;Galeria de ginys;
Keywords[ca@valencia]=Kirigami;Framework;KDE;Galeria;Ginys;Galeria de ginys;
Keywords[cs]=Kirigami;Framework;KDE;Galerie;Widgety;Galerie Widgetů;
Keywords[de]=galerie;bedienelemente;
Keywords[el]=Kirigami;Framework;KDE;Gallery;Widgets;Widgets Gallery;
Keywords[en_GB]=Kirigami;Framework;KDE;Gallery;Widgets;Widgets Gallery;
Keywords[eo]=Kirigami;Framework;KDE;Galerio;Fenestraĵoj;Widgets Gallery;
Keywords[es]=Kirigami;Framework;KDE;Galería;Elementos gráficos;Galería de widgets;Galería de elementos gráficos;
Keywords[eu]=Kirigami;Framework;azpiegitura;KDE;Galeria;Trepetak;Trepeten galeria;
Keywords[fi]=Kirigami;sovelluskehys;kehys;KDE;galleria;käyttöliittymäalkio;käyttöliittymäalkiot;käyttöliittymäalkiogalleria;
Keywords[fr]=Kirigami ; environnement de développement ; KDE ; galerie ; composants graphiques ;galerie de composants graphiques ;
Keywords[gl]=Kirigami;infraestrutura;KDE;galería;trebellos;galería de trebellos;
Keywords[he]=Kirigami;Framework;KDE;Gallery;Widgets;Widgets Gallery;קיריגמי;קיריגאמי;גלריה;וידג׳ט;וידג'ט;חלונית;גלריית רכיבים;
Keywords[ia]=Kirigami;Framework;KDE;Gallery;Widgets;Widgets Gallery;
Keywords[it]=Kirigami;Framework;KDE;Galleria;Oggetti;Galleria oggetti;
Keywords[ka]=Kirigami;Framework;KDE;Gallery;Widgets;Widgets Gallery;
Keywords[ko]=Kirigami;Framework;KDE;Gallery;Widgets;Widgets Gallery;프레임워크;갤러리;위젯;위젯 갤러리;
Keywords[lv]=Kirigami;Satvars;KDE;Gallery;Logdaļas;Logdaļu galerija;
Keywords[nl]=Kirigami;Framework;KDE;Galerij;Widgets;Galerij met widgets;
Keywords[nn]=Kirigami;Framework;KDE;Gallery;galleri;Widgets;skjermelement;
Keywords[pl]=Kirigami;Framework;Szkielet;KDE;Galeria;Elementy interfejsu;Widżety;Galeria elementów interfejsu;Galeria widżetów;
Keywords[pt]=Kirigami;Plataforma;KDE;Galeria;Elementos;Galeria de Elementos;
Keywords[pt_BR]=Kirigami;Framework;KDE;galeria;Widgets;galeria de widgets;
Keywords[ru]=Kirigami;Framework;KDE;Галерея;Виджеты;Галерея виджетов;
Keywords[sa]=किरिगामी;रूपरेखा;KDE;गैलरी;विजेट;विजेट गैलरी;
Keywords[sl]=Kirigami;Ogrodje;KDE;Galerija;Gradniki;Galerija gradnikov;
Keywords[sv]=Kirigami;Ramverk;KDE;Galleri;Grafiska komponenter;Komponentgalleri;
Keywords[tr]=Kirigami;Framework;KDE;Gallery;Widgets;Widgets Gallery;Galeri;Araç Takımları;Araç Takımları Galerisi;
Keywords[uk]=Kirigami;Framework;KDE;Gallery;Widgets;Widgets Gallery;кірігамі;бібліотека;кадеє;фреймворк;галерея;віджети;галерея віджетів;
Keywords[x-test]=xxKirigamixx;xxFrameworkxx;xxKDExx;xxGalleryxx;xxWidgetsxx;xxWidgets Galleryxx;
Keywords[zh_CN]=Kirigami;Framework;KDE;Gallery;Widgets;Widgets Gallery;框架;程序框架;窗口部件;控件;挂件;示例;展厅;展示;演示;kuangjia;chengxukuangjia;chuangkoubujian;guajian;kongjian;shili;yanshi;zhanting;zhanshi;
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.kirigami2.gallery
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://kde.org
X-KDE-PluginInfo-Category=Graphics
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=ui/ExampleApp.qml
