[Desktop Entry]
Name=Kirigami Gallery
Comment=Shows examples of Kirigami components and allows you to play with them

Type=Application
Exec=kirigami2gallery
Icon=preferences-desktop-theme
Categories=Qt;KDE;Development;
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.kirigami2.gallery
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://kde.org
X-KDE-PluginInfo-Category=Graphics
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=ui/ExampleApp.qml
